#1
Counter.count is a class variable – shared across all instances of the class. Every time any instance calls increment, it updates this shared count.

self._count is an instance variable – each instance has its own copy. So only the specific instance’s _count is updated when increment() is called on it.

output of a.get_counts(): Instance count: 2, class count: 3
output of b.get_counts(): Instance count: 1, class count: 3

Effect on instance variable(self.count): Every time increment() is called on a specific instance, it increases that instance's own _count.
a.increment()  # a._count becomes 1 unlike b is uneffected.

Effect on the Class Variable (Counter.count): Every time any instance calls increment(), Counter.count is increased by 1.
 a.increment()  # Counter.count += 1
 b.increment()  # Counter.count += 1 again (now 2)
 Counter.count is class-wide, shared accross and updated by all objects.

#2
The parameter args is treated as a single argument, so when you pass multiple numbers like sum_all(1, 2, 3), Python raises a TypeError.
Correction: adding * to accept variable number of arguments,,,
def sum_all(*args):
    return sum(args)
Now, args becomes a tuple and gives you the end result without any errors.

In [4]:
#3
def first_word(word_list):
    sorted_list = sorted(word_list)
    return sorted_list[0]
students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']
print(first_word(students))

Bartholomew

In [3]:
class Employee:
    employee_count = 0
    total_salary = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department

        Employee.employee_count += 1
        Employee.total_salary += salary

    @classmethod
    def average_salary(cls):
        if cls.employee_count == 0:
            return 0
        return cls.total_salary / cls.employee_count

    def display_info(self):
        return f"{self.name} {self.family}, Dept: {self.department}, Salary: {self.salary}"


class FulltimeEmployee(Employee):
    pass

e1 = Employee("Sai", "Civirala", 50000, "IT")
e2 = FulltimeEmployee("Rishi", "Roshan", 70000, "HR")
e3 = FulltimeEmployee("Pinky", "Reddy", 65000, "Finance")

# Calling member functions
print(e1.display_info())
print(e2.display_info())
print(e3.display_info())

print(f"Total Employees: {Employee.employee_count}")
print(f"Average Salary: {Employee.average_salary()}")

Sai Civirala, Dept: IT, Salary: 50000
Rishi Roshan, Dept: HR, Salary: 70000
Pinky Reddy, Dept: Finance, Salary: 65000
Total Employees: 3
Average Salary: 61666.666666666664